.calendar {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  height: calc(100vh - 64px);
}

.calendar__weeks {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #ebebeb;
}
